/SpacelibShared/target/
/Spacelib/Spacelib-ejb/target/
/Spacelib/Spacelib-web/target/
/Spacelib/Spacelib-ear/target/
/Spacelib/Spacelib-ear/src/main/application/META-INF/glassfish-resources.xml
/Spacelib-Admin-JFX/nbproject/private/
/Spacelib/Spacelib-ejb/src/main/resources/META-INF/glassfish-resources.xml
/MecanoApp/node_modules
/Spacelib-Admin-JFX/build/
/Spacelib-Admin-JFX/dist/
/MecanoApp/nbproject/private/
/spacelibAdmin/target/